[submodule "src/llama_cpp"]
	path = src/llama_cpp
	url = https://github.com/Mobile-Artificial-Intelligence/llama.cpp.git
[submodule "macos/llama_cpp"]
	path = macos/llama_cpp
	url = https://github.com/Mobile-Artificial-Intelligence/llama.cpp.git
[submodule "ios/llama_cpp"]
	path = ios/llama_cpp
	url = https://github.com/Mobile-Artificial-Intelligence/llama.cpp.git
